{% extends 'base.html.twig' %}

{% block title %}Выпуск{% endblock %}

{% block body %}
    <h1>Выпуск</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Месяц</th>
                <th>Количество статей в выпуске</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
            <tr>
                <td>{{ issue.id }}</td>
                <td>{{ issue.name }}</td>
                <td>{{ issue.month }}</td>
                <td>{{ issue.articleId.count }}</td>
                <td>
                    <a href="{{ path('app_issue_show', {'id': issue.id}) }}">Показать</a>
                    <a href="{{ path('app_issue_edit', {'id': issue.id}) }}">Редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Записей не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_issue_new') }}">Создать новую запись</a>
{% endblock %}
