{% extends 'base.html.twig' %}

{% block title %}Статья{% endblock %}

{% block body %}
    <h1>Статья</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Жанр</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.name }}</td>
                <td>{{ article.genreId }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">Показать</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">Изменить</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Записей не найдено</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_article_new') }}">Создать новую запись</a>
{% endblock %}
