    {% extends 'base.html.twig' %}

{% block title %}Статья{% endblock %}

{% block body %}
    <h1>Статья</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ article.name }}</td>
            </tr>
            <tr>
                <th>Жанр</th>
                <td>{{ article.genreId }}</td>
            </tr>
            <tr>
                {% if article.authorId.count ==1 %}
                <th>Автор</th>
                {% else %}
                <th>Авторы</th>
                {% endif %}
                <td>{% for author in article.authorId %}
                        {% if author == article.authorId[article.authorId.count-1] %}
                            {{ author }}
                        {% else %}
                            {{ author }},
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>В каком выпуске можно найти</th>
                <td>{{ article.issueId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_article_index') }}">Назад к списку</a>

    <a href="{{ path('app_article_edit', {'id': article.id}) }}">Редактировать</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
